trigger:
  branches:
    include: 
      - main
  paths:
    include: 
      - terraform/**
 
pool:
  vmImage: ubuntu-latest

variables:
  - group: terraform-secrets
  - name: TF_VERSION
    value:  1.5.0
 
stages:
  - stage:  Validate
    jobs:
      - job: Validate
        steps:
          - task:  TerraformInstaller@1
            inputs:
              terraformVersion: 1.5.0
          - task: TerraformTaskV4@4
            displayName:  Terraform Init
            inputs:
              provider: azurerm
              command: init
              workingDirectory: terraform/environments/staging
              backendServiceArm: Azure-ServiceConnection
          - task: TerraformTaskV4@4
            displayName: Terraform Validate
            inputs:
              provider: azurerm
              command: validate
              workingDirectory: terraform/environments/staging
 
  - stage: Plan
    dependsOn: Validate
    jobs:
      - job:  Plan
        steps:
          - task: TerraformInstaller@1
            inputs: 
              terraformVersion: 1.5.0
          - task: TerraformTaskV4@4
            displayName: Terraform Plan
            inputs:
              provider: azurerm
              command: plan
              workingDirectory: terraform/environments/staging
              environmentServiceNameAzureRM: Azure-ServiceConnection
 
  - stage: Apply
    dependsOn: Plan
    jobs:
      - deployment: Apply
        environment: staging
        strategy:
          runOnce: 
            deploy:
              steps:
                - task: TerraformTaskV4@4
                  displayName: Terraform Apply
                  inputs:
                    provider: azurerm
                    command: apply
                    workingDirectory: terraform/environments/staging
                    environmentServiceNameAzureRM: Azure-ServiceConnection
                    commandOptions: -auto-approve
