replicaCount: 2

image:
  repository: acrgmstaging. azurecr.io/sql-agent
  pullPolicy: Always
  tag: "latest"

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

env:
  SQL_SERVER:  ""
  SQL_DATABASE: "customerdb"

nodeSelector:
  nodepool-type: user

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas:  10
  targetCPUUtilizationPercentage:  80
